body{

font-family:Arial;
background:#f4f6f9;
margin:0;
padding:0;

}

.container{

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;

}

.title{

margin-bottom:30px;

}

.bus-box{

width:300px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
margin-top:20px;

}

.btn{

padding:10px 20px;
border:none;
background:#007bff;
color:white;
border-radius:5px;
cursor:pointer;

}

.btn:hover{

background:#0056b3;

}